<div class="urinal">
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   id="svg2"
   viewBox="0 0 228.00002 378.49957"
   height="106.82099mm"
   width="64.346672mm">
  <title
     id="title4279">Urinal</title>
  <defs
     id="defs4">
    <filter
       height="1.1782"
       y="-0.089100003"
       width="1.2741538"
       x="-0.13707691"
       id="filter4184"
       style="color-interpolation-filters:sRGB">
      <feGaussianBlur
         id="feGaussianBlur4186"
         stdDeviation="7.425" />
    </filter>
    <filter
       height="1.48"
       y="-0.23999999"
       width="1.12"
       x="-0.059999999"
       id="filter4218"
       style="color-interpolation-filters:sRGB">
      <feGaussianBlur
         id="feGaussianBlur4220"
         stdDeviation="2" />
    </filter>
    <filter
       id="filter4222"
       style="color-interpolation-filters:sRGB">
      <feFlood
         id="feFlood4224"
         result="flood"
         flood-color="rgb(0,0,0)"
         flood-opacity="0.498039" />
      <feComposite
         id="feComposite4226"
         result="composite1"
         operator="in"
         in2="SourceGraphic"
         in="flood" />
      <feGaussianBlur
         id="feGaussianBlur4228"
         result="blur"
         stdDeviation="3"
         in="composite1" />
      <feOffset
         id="feOffset4230"
         result="offset"
         dy="4"
         dx="4" />
      <feComposite
         id="feComposite4232"
         result="composite2"
         operator="over"
         in2="offset"
         in="SourceGraphic" />
    </filter>
    <filter
       id="filter4222-7"
       style="color-interpolation-filters:sRGB">
      <feFlood
         id="feFlood4224-9"
         result="flood"
         flood-color="rgb(0,0,0)"
         flood-opacity="0.498039" />
      <feComposite
         id="feComposite4226-4"
         result="composite1"
         operator="in"
         in2="SourceGraphic"
         in="flood" />
      <feGaussianBlur
         id="feGaussianBlur4228-2"
         result="blur"
         stdDeviation="3"
         in="composite1" />
      <feOffset
         id="feOffset4230-1"
         result="offset"
         dy="4"
         dx="4" />
      <feComposite
         id="feComposite4232-9"
         result="composite2"
         operator="over"
         in2="offset"
         in="SourceGraphic" />
    </filter>
  </defs>
  <g
     transform="translate(-101,-212.66978)"
     id="layer1">
    <path
       id="urinal"
       d="m 130,282.3622 c -4.71405,0 -10,5.28595 -10,10 l 0,240 c 0,24.26703 45.96753,25.63413 70,29 16.50557,2.31169 33.49443,2.31169 50,0 24.03247,-3.36587 70,-4.73297 70,-29 l 0,-240 c 0,-4.71405 -5.28595,-10 -10,-10 z"
       style="fill:blue;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;filter:url(#filter4222)" />
    <path
       id="urinal-mask"
       d="m 129.9,282.36221 c -4.71405,0 -10,5.28595 -10,10 l 0,240 c 0,24.26703 45.96753,25.63413 70,29 16.50557,2.31169 33.49443,2.31169 50,0 24.03247,-3.36587 70,-4.73297 70,-29 l 0,-240 c 0,-4.71405 -5.28595,-10 -10,-10 z"
       style="fill:#ffffff;" />
    <path
       id="path3342"
       d="m 142,509.3622 0,-204 130,0 -1,6 -120,0 0,201 z"
       style="fill:#b3b3b3;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;filter:url(#filter4184)" />
    <ellipse
       ry="10"
       rx="60"
       cy="512.36218"
       cx="215"
       id="path4188"
       style="opacity:1;fill:#cccccc;fill-opacity:1;stroke:none;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;filter:url(#filter4218)" />
    <ellipse
       ry="5"
       rx="15"
       cy="517.36218"
       cx="215"
       id="path4234"
       style="opacity:1;fill:#808080;fill-opacity:1;stroke:none;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
    <path
       id="path4236"
       d="m 200,282.3622 0,-20 30,0 0,20 z"
       style="fill:#e6e6e6;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       id="path4238"
       d="m 190,242.3622 0,20 50,0 0,-20 z"
       style="fill:#cccccc;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       id="path4240"
       d="m 200,242.3622 0,-20 c 10,-12.36881 20,-12.1438 30,0 l 0,20 z"
       style="fill:#e6e6e6;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <g
       transform="matrix(0.88209559,0,0,0.85813393,22.469359,40.092026)"
       id="g4246">
      <path
         style="fill:#e6e6e6;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         d="m 190,242.3622 -50,-2 c -3.21279,3.86347 -4.29637,8.25924 0,14 l 50,-2 z"
         id="path4242" />
      <path
         id="path4244"
         d="m 190.17678,243.02191 -50.33461,-0.83914 c -3.23429,1.62099 -4.32513,3.46531 0,5.87395 l 50.33461,-0.83914 z"
         style="fill:#ffffff;fill-rule:evenodd;stroke:none;stroke-width:0.64990419px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    </g>
    <path
       id="path4250"
       d="m 190,272.3622 14,0 0,10 -14,0 z"
       style="fill:#e6e6e6;fill-rule:evenodd;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       style="fill:#e6e6e6;fill-rule:evenodd;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 204,272.3622 22,0 0,10 -22,0 z"
       id="path4252" />
    <path
       id="path4258"
       d="m 226,272.3622 14,0 0,10 -14,0 z"
       style="fill:#e6e6e6;fill-rule:evenodd;stroke:#000000;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       id="path4268"
       d="m 196,232.3622 c 14.56594,-4.74819 27.20525,-4.6798 38,0 l 0,10 -38,0 z"
       style="fill:#e6e6e6;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       id="path4272"
       d="m 130,282.36133 c -4.71405,0 -10,5.28595 -10,10 l 0,240 c 0,24.26703 45.96753,25.63413 70,29 16.50557,2.31169 33.49443,2.31169 50,0 24.03247,-3.36587 70,-4.73297 70,-29 l 0,-240 c 0,-4.71405 -5.28595,-10 -10,-10 l -170,0 z m 20,20 130,0 c 4.71405,0 10,5.28595 10,10 l 0,200 c -49.11969,6.46223 -98.99637,6.68469 -150,0 l 0,-200 c 0,-4.71405 5.28595,-10 10,-10 z"
       style="fill:#ffffff;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;filter:url(#filter4222)" />
    <path
       id="path4275"
       d="m 202.72435,218.81385 c 6.25914,-5.25195 14.41329,-4.37871 24.44366,0 l 0,3.54835 c -8.14789,-2.33248 -16.29577,-3.62822 -24.44366,0 z"
       style="fill:#ffffff;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
    <path
       style="fill:#ffffff;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 196.36039,232.81385 c 9.33724,-5.25195 21.5014,-4.37871 36.46447,0 l 0,3.54835 c -12.15482,-2.33248 -24.30964,-3.62822 -36.46447,0 z"
       id="path4277" />
  </g>
</svg>
</div>